<h1>Links</h1>
<ul>
  <% @links.each do |link| %>
    <li><%= link_to link.title, link.url%></li>
    <h5>Score: <%= link.score %>
      <%= link_to  "Comments", link_path(link), :class => "btn btn-default"%>
      <%= link_to  "Upvote", link_add_one_path(link), method: :patch, :class => "btn btn-default"%>
      <%= link_to  "Downvote", link_subtract_one_path(link), method: :patch, :class => "btn btn-default"%>
    </h5>
  <% end %>
</ul>

<%= link_to "Add New Link", new_link_path, :class => "btn btn-default" %>
